@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$heading: 'Poppins', sans-serif;
$body: 'Open Sans', sans-serif;
$violet: hsl(257, 40%, 49%);
$soft-magenta: rgb(232, 130, 232);
$white: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin transition-ease {
  transition: all 0.4s ease-in-out;
}
