@import 'config';
@import 'header';
@import 'main';
@import 'footer';

body {
  background: url(./../images/bg-mobile.svg), $violet;
  background-position: top left;
  background-size: 100% 400px;
  background-repeat: no-repeat;
  font-size: 16px;

  @media screen and (min-width: 768px) {
    background: url(./../images/bg-desktop.svg), $violet;
    background-size: cover;
    background-position: left;
    height: 100vh;
  }

  @media screen and (min-width: 1300px) {
    background-position: top left -50px;
    background-size: 100vw 100vh;
  }
}
